nav {
    color: white;
    background: rgb(22, 8, 42);
    border-bottom: 0.5px solid white;
}

body {
    background: radial-gradient(circle at 0% 10%, rgb(22, 8, 42) 20%, rgb(114, 74, 170) 200%);
    min-height: 100vh;
}