{% load widget_tweaks %}

<h1 class="mt-8 mb-4 prose prose-2xl text-white">
    Create New Material:
</h1>

<form hx-post="{% url 'create-material' %}">

    {% include 'webportal/partials/materials/details.html' %}

    <button class="btn btn-success">Add Material</button>
    <button 
        class="btn btn-error"
        hx-get="{% url 'materials-list' %}"
        hx-swap="outerHTML"
        hx-target="#material-list-page"
        hx-push-url="/materials">
            Cancel
        </button>
</form>
