{% load widget_tweaks %}

<div class="mb-2 form-control text-black">
    {{ form.category|add_label_class:"label text-white" }}
    {% render_field form.category class="text-black"%}
</div>


<div class="mb-2 form-control text-black">
    {{ form.name|add_label_class:"label text-white" }}
    {% render_field form.name class="input text-black" %}

    {% for error in form.name.errors %}
        <p class="text-red-500 mt-1">{{ error }}</p>
    {% endfor %}
</div>

<div class="mb-2 form-control">
    {{ form.conductivity|add_label_class:"label text-white" }}
    {% render_field form.conductivity class="input text-black" %}

    {% for error in form.conductivity.errors %}
        <p class="text-red-500 mt-1">{{ error }}</p>
    {% endfor %}
</div>

<div class="mb-2 form-control">
    {{ form.emissivity|add_label_class:"label text-white" }}
    {% render_field form.emissivity class="input text-black" %}

    {% for error in form.emissivity.errors %}
        <p class="text-red-500 mt-1">{{ error }}</p>
    {% endfor %}
</div>

<div class="mb-2 form-control">
    {{ form.source|add_label_class:"label text-white" }}
    {% render_field form.source class="input text-black" %}
</div>

<div class="mb-2 form-control">
    {{ form.comments|add_label_class:"label text-white" }}
    {% render_field form.comments class="input text-black" %}
</div>

<div class="mb-2 form-control">
    {{ form.color_argb|add_label_class:"label text-white" }}
    {% render_field form.color_argb class="input text-black" %}
</div>

