<div role="alert" class="alert alert-info">
    <svg xlmns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w6" fill="none">
    <span>{{ message }}</span>
</div>

<div class="mt-4">
    <button 
        class="btn btn-success"
        hx-get="{% url 'create-material' %}"
        hx-target="#material-list-page">
            Add New Material
    </button>
    <button 
        class="btn btn-success"
        hx-get="{% url 'materials-list' %}"
        hx-target="#material-list-page"
        hx-swap="outerHTML"
        hx-push-url="true">
            Back to Materials
        </button>
</div>
