<div id="assembly" class="col-span-4">
    {% if assembly %}
            
        {% block assembly-name %}
            <div id="assembly-name" class="flex flex-1 mb-4">
                <div class="flex flex-1 items-center">
                    <div class="me-4" >Assembly:</div>
                    <form 
                        hx-post="{% url 'update-assembly-name' active_project.pk assembly.id %}"
                        hx-target="#assembly-name"
                        hx-swap="outerHTML"
                        hx-trigger="submit, focusout"
                        push-url="true"
                        class="flex flex-1"
                        >
                        <input 
                            type="text"
                            name="name"
                            class="text-black flex-1"
                            value="{{ assembly.name }}" 
                            style="border: 1px solid #939799; padding: 8px; border-radius: 3px; background: var(--cell-color);"
                            onfocus="this.style.borderColor='#007bff'; this.style.boxShadow='0 0 5px rgba(0, 123, 255, 0.5)'; this.style.outline='none'; this.style.background='white'; this.style.color='black';"
                            onblur="this.style.borderColor='#ccc'; this.style.boxShadow='none'; this.style.background='var(--cell-color)';"
                        />
                    </form>
                </div>
            </div>
        {% endblock %}
        
        {% block assembly-detail-view %}
            <div id="assembly-detail-view" class="flex flex-col">

                <div id="assembly-headers" class="flex flex-1 flex-row items-center">
                    <div class="justify-center text-center text-xs me-4" style="min-width:25px;">-</div>
                    <div class="justify-center text-center text-xs" style="max-width:10ch;">Thickness [M]</div>
                    <div class="flex flex-1 justify-center text-center text-xs">Layer Material</div>
                </div>
                
                <div id="assembly-layers">
                    {% for layer_view in layer_views %}
                        
                        {% block layer %}
                            <div class="layer flex flex-row items-center py-2" id="layer-{{ layer_view.layer.pk }}">
                                <a                                
                                    id="delete-layer-{{ assembly.pk }}"
                                    hx-delete="{% url 'delete-layer' active_project.pk assembly.pk layer_view.layer.pk %}"
                                    hx-target="#assembly"
                                    hx-swap="outerHTML"
                                    hx-confirm="Delete?"
                                    push-url="true"
                                    class="cursor-pointer me-2"
                                    style="min-width:25px;">
                                    <svg 
                                        class="size-6 me-2"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path 
                                            d="M7 9.5L12 14.5M12 9.5L7 14.5M19.4922 13.9546L16.5608 17.7546C16.2082 18.2115 16.032 18.44 15.8107 18.6047C15.6146 18.7505 15.3935 18.8592 15.1583 18.9253C14.8928 19 14.6042 19 14.0271 19H6.2C5.07989 19 4.51984 19 4.09202 18.782C3.71569 18.5903 3.40973 18.2843 3.21799 17.908C3 17.4802 3 16.9201 3 15.8V8.2C3 7.0799 3 6.51984 3.21799 6.09202C3.40973 5.71569 3.71569 5.40973 4.09202 5.21799C4.51984 5 5.07989 5 6.2 5H14.0271C14.6042 5 14.8928 5 15.1583 5.07467C15.3935 5.14081 15.6146 5.2495 15.8107 5.39534C16.032 5.55998 16.2082 5.78846 16.5608 6.24543L19.4922 10.0454C20.0318 10.7449 20.3016 11.0947 20.4054 11.4804C20.4969 11.8207 20.4969 12.1793 20.4054 12.5196C20.3016 12.9053 20.0318 13.2551 19.4922 13.9546Z" 
                                            stroke="#000000"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </a>

                                <form
                                    id="layer-thickness-form"
                                    hx-post="{% url 'update-layer-thickness' active_project.pk assembly.id layer_view.layer.pk %}"
                                    hx-target="#layer-thickness-{{ layer_view.layer.pk }}"
                                    hx-swap="innerHTML"
                                    hx-trigger="submit, focusout"
                                    push-url="true"
                                    {% comment %} hx-trigger="keyup delay:500ms" {% endcomment %}
                                    class="me-1">
                                    <input 
                                        id="layer-thickness-{{ layer_view.layer.pk }}"
                                        type="text"
                                        name="thickness"
                                        class="text-black"
                                        value={{ layer_view.layer.thickness }}
                                        style="border: 1px solid #939799; padding: 8px; border-radius: 3px; background: var(--cell-color); max-width:10ch;"
                                        onfocus="this.style.borderColor='#007bff'; this.style.boxShadow='0 0 5px rgba(0, 123, 255, 0.5)'; this.style.outline='none'; this.style.background='white'; this.style.color='black';"
                                        onblur="this.style.borderColor='#ccc'; this.style.boxShadow='none'; this.style.background='var(--cell-color)';"
                                    />
                                </form>
                                
                                <div class="flex flex-1 layer-segments" style="width: 100%;">
                                    {% for segment, form in layer_view.segments_and_forms %}
                                        <form
                                            style="width: 100%;"
                                            hx-post="{% url 'update-layer-material' active_project.pk assembly.id layer_view.layer.pk %}"
                                            hx-target="find [role='textbox']"
                                        >
                                            {{ form }}
                                        </form>
                                    {% endfor %}
                                </div>
                                
                            </div>
                        {% endblock %}
                    {% endfor %}
                </div>
            
                <div id="grid-control-buttons" class="mt-10">
                    <button 
                        class="btn"
                        hx-post="{% url 'add-layer' active_project.pk assembly.pk %}"
                        hx-target="#assembly-layers"
                        hx-swap="beforeend"
                    >
                        Add New Layer +
                    </button>
                </div>
            
            </div>
        {% endblock %}

    {% endif %}
</div>
