<div id="assembly" class="col-span-4">
    {% if assembly %}
        
        {% block assembly-name %}
            <div id="assembly-name">
                <form 
                    hx-post="{% url 'update-assembly-name' assembly.id %}"
                    hx-target="#assembly-name"
                    hx-swap="outerHTML"
                    >
                    <input 
                        type="text"
                        name="name"
                        class="text-black"
                        value="{{ assembly.name }}" 
                        hx-trigger="changed delay:500ms"
                        style="border: 1px solid #939799; padding: 8px; border-radius: 4px; background: transparent; color: white;"
                        onfocus="this.style.borderColor='#007bff'; this.style.boxShadow='0 0 5px rgba(0, 123, 255, 0.5)'; this.style.outline='none'; this.style.background='white'; this.style.color='black';"
                        onblur="this.style.borderColor='#ccc'; this.style.boxShadow='none'; this.style.background='transparent'; this.style.color='white';"
                    />
                </form>
            </div>
        {% endblock %}

        {% include "webportal/partials/assemblies/assembly-detail.html" %}
    {% endif %}
</div>
