{% load widget_tweaks %}
{% load partials %}

<div id="assembly-sidebar" class="col-span-1" style="border-right:2px solid gray; padding-right:12px;">
    
    <form
        id="assembly-sidebar-add-new-button"
        hx-post="{% url 'add-new-assembly' %}"
        hx-target="#assembly"
        hx-swap="outerHTML">
        <button class="btn">Add New Assembly +</button>
    </form>

    <hr style="margin-top:20px; margin-bottom:20px; border:1px dashed gray" />

    {% block assembly-sidebar-list %}

        <ul id="assembly-sidebar-list" hx-swap-oob="true">
            {% for assembly in assemblies %}
                <li class="cursor-pointer hover:underline">
                    <div 
                        class="flex flex-row items-center mb-1 p-1"
                        id=assembly-{{ assembly.pk }}
                        {% if active_assembly_id == assembly.pk %}
                            style="font-weight:800; background: rgb(240, 240, 240);"
                        {% endif %}
                        >
                        <a                                
                            id="delete-assembly-{{ assembly.pk }}"
                            hx-delete="{% url 'delete-assembly' assembly.pk %}"
                            hx-target="#assembly"
                            hx-swap="outerHTML"
                            hx-confirm="Delete?" 
                            class="cursor-pointer ms-3">
                            <svg 
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24"
                                stroke-width="1"
                                stroke="currentColor"
                                class="size-4 me-2">
                                <path 
                                    stroke-linecap="round" 
                                    stroke-linejoin="round"
                                    d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </a>
                        <a 
                            id="assembly-name-{{ assembly.pk }}"
                            hx-get="{% url 'assembly' assembly.pk %}"
                            hx-target="#assembly"
                            hx-swap="outerHTML"
                        >
                            {{ assembly.name }}
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    
    {% endblock %}

</div>