<h1>{{ container.name }}</h1>

<div class="grid-container" id="assembly-cell-grid">
    {% for row in row_range %}
        {% for col in col_range %}
            <div class="cell">
                {% for cell in cells %}
                    {% if cell.x == col and cell.y == row %}
                        {{ cell.value }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% comment %} 
<button 
    hx-post="{% url 'add_row' container.id %}"
    hx-target="#spreadsheet"
    hx-swap="beforeend"
>
    Add Row
</button>

<button 
    hx-post="{% url 'add_column' container.id %}"
    hx-target="#spreadsheet"
    hx-swap="beforeend"
>
    Add Column
</button> {% endcomment %}