.table {
    display: grid;
    grid-template-columns: 30ch 1fr;
    line-height: 1.3em;
    font-size: 0.8em;
}

/* ----------------- COLUMNS --------------------- */
.left-column,
.right-column {
    display: grid;
    grid-template-rows: 1.5em 2em 1fr 1.5em;
}

.left-column {
    position: sticky;
    left: 0;
    border-right: solid 1px #2d2d2d;
    background-color: white;

}

.right-column {
    width: 2000px;
}


/* ----------------- GROUPS --------------------- */


.left-data,
.right-data {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1.5em, 1fr));
    grid-auto-flow: row;
    row-gap: 5px;
}


/* ----------------- FILTER --------------------- */
.filter-left,
.filter-right {}

.filter-dropdown {
    padding: 5px;
    font-size: 0.8em;
}

/* ----------------- ROWS --------------------- */

.left-row-header,
.left-row {
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.8fr;
    overflow-x: auto;
    grid-auto-flow: column;
    column-gap: 5px;
}

.right-row-header,
.right-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5ch, 1fr));
    overflow-x: auto;
    grid-auto-flow: column;
    padding-left: 10px;
}


.left-row-header,
.right-row-header {
    border-bottom: 2px solid #2d2d2d;
    padding-left: 10px;
}

/* ----------------- CELLS --------------------- */

.cell-header,
.cell-data {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell-header {
    font-weight: bold;
}

.control-button {
    display: flex;
    flex: 1;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 0.7em;
    align-items: center;
    justify-content: center;
    max-height: 20px;
}